<div class="dashboard">
  <app-dashboard-header></app-dashboard-header>

  <div class="container" style="height: calc(100vh - 81px)">
    <div class="row">
      <div class="col-3">
        <div class="side-bar">
          <div class="side-bar-content">
            <ul class="side-nav">
              <li routerLink="./dashboard" routerLinkActive="active">
                Dashboard
              </li>
              <li routerLink="./manage-documents" routerLinkActive="active">
                Manage Documents
              </li>

              <li routerLink="./manage-users" routerLinkActive="active">
                Manage Users
              </li>
              <li routerLink="./activity-logs" routerLinkActive="active">
                User Activity Log
              </li>

              <li>Service and Utilization</li>

              <li>Physical Set-up and Facilities</li>
              <li>Financial Support</li>

              <li>Linkages</li>
              <li>ISO Documents</li>

              <li>Other Documents</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-9" style="min-height: calc(100vh - 81px)">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- <div class="button-scroll" (scroll)="onscroll()">
  <button mat-mini-fab type="button" class="fab" (click)="toTop()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-up-short"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"
      />
    </svg>
  </button>
</div> -->
